.copy-btn {
    position: absolute;
    top: 2px; /* 调整位置 */
    right: 2px;
    padding: 3px 6px; /* 缩小尺寸 */
    font-size: 12px; /* 减小字体大小 */
    background-color: #8FD1E1; /* 按钮背景色 */
    color: #272822; /* 文字颜色 */
    border: 1px solid #272822; /* 边框颜色 */
    border-radius: 3px; /* 圆角 */
    cursor: pointer;
    opacity: 0.5; /* 默认半透明 */
    transition: opacity 0.3s ease, background-color 0.3s ease; /* 平滑过渡效果 */
  }
  
  .copy-btn:hover {
    opacity: 1; /* 鼠标悬停时不透明 */
    background-color: #A3D4E5; /* 鼠标悬停时的背景色 */
  }
  
  .highlight {
    position: relative;
  }
  